$grey: #5b5b5b

body
    height: 100%
    margin: 0
    padding: 0
    background-color: #3f3e3e
    transition: 0.25s ease
    position: relative

.time-display
    position: absolute
    top: -120px
    left: 0
    width: 100%
    text-align: center
    color: white
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2)
    font-size: 4rem
    font-family: 'Mplus 1p'
    font-weight: 100
@media (max-width: 460px)
    .time-display
        font-size: 3rem

.date-display
    position: absolute
    bottom: 10px
    right: 10px
    color: white
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2)
    font-size: 2rem
    font-family: 'Mplus 1p'
    font-weight: 200


.wrapper
    background-color: white
    width: 80%
    height: auto
    margin: 150px auto 80px auto
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    border-radius: 25px
    position: relative

=gen-list-child
    width: 100%
    text-align: center
    font-size: 12px
    line-height: 55px
    height: 55px
    float: left

.list-container
    font-family: 'PT Sans'
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 2px
    word-spacing: 5px
    width: 250px
    height: auto
    margin: 30px 20px 20px 20px
    .list-header
        +gen-list-child
        line-height: 85px
        height: 80px
        margin-bottom: 25px
        border-bottom: 5px solid
    .list-element-wrapper
        +gen-list-child
        transition: 0.25s
        text-decoration: none
        border-radius: 5px
        margin: 10px 0
        color: $grey
        &:hover
            color: white

.default-tabs-section
    position: absolute
    right: 0
    top: 0
    width: auto
    height: 60px
    display: grid
    grid-template-columns: auto auto
    grid-template-rows: 100%
    .edit-tabs
        background-color: #5d5857
    .open-tabs
        background-color: #65e5f4
    .tabs-button
        border-radius: 50%
        width: 40px
        height: 40px
        margin: 10px
        transition: 0.4s
        .material-icons 
            font-size: 20px
            width: 100%
            text-align: center
            line-height: 40px
            color: white
        &:hover
            cursor: pointer
            filter: brightness(0.7)